---
layout: layouts/home.njk
permalink: /archives/
title: Archives
eleventyNavigation:
  key: Archives
  order: 1
---

<h1>文章列表</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
