---
layout: layouts/home.njk
title: Archives
eleventyNavigation:
  key: Archives
  order: 1
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: /archives/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
---

{% set postslist = posts.reverse() %}
{% include "timeline.njk" %}

{% include "pagination.njk" %}
