---
title: Faith
layout: layouts/home.njk
description: 一隻野生的前端工程師。相信每一行程式碼都是改變世界的力量。
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
