---
title: Faith
layout: layouts/home.njk
description: 一隻野生的前端工程師。相信每一行程式碼都是改變世界的力量。
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: /{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
---

{% set postslist = posts.reverse() %}
{% include "postslist.njk" %}

{% include "pagination.njk" %}