---
permalink: /tags/
layout: layouts/home.njk
title: Tags
eleventyNavigation:
  key: Tags
  order: 2
---

<ul id="tags-list">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag.name | slugify }}/{% endset %}
  <li class="tag">
    <a href="{{ tagUrl | url }}">
      <span class="tag-main">#{{ tag.name }}</span>
      <span class="tag-aside">{{ tag.count }}</span>
    </a>
  </li>
{% endfor %}
</ul>