<div id="postslist">
{% for post in postslist | reverse %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    <div class="post-desc">
      {{ post.templateContent | excerpt | safe }}
    </div>
    <div class="post-info">
      <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <a href="{{ post.url | url }}">繼續閱讀</a>
    </div>
  </div>
{% endfor %}
</div>
