---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}


{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = (wc / 240) + 1 %}
   <aside class="article-info">
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}.</time>
      {{ wPerMinute | round }} mins read
   </aside>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<section class="article-bottom">
  <ul class="article-tags-list">
  {% for tag in tags %}
    {% if tag != 'posts' %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li class="tag">
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

  <div class="article-sharing">
    <a href="{{ shareUrl | safe }}" on-click="share">分享文章</a>
  </div>
</section>

<section class="article-author">
  <div class="article-author-avatar">
    <img alt="metadata.author.name" src="/img/avatar.jpg">
  </div>
  <div class="article-author-info">
    <div class="article-author-name">
      <a href="/about/">{{ metadata.author.name }}</a>
    </div>
    <div class="article-author-desc">{{ metadata.author.description }}</div>
  </div>
</section>

<section class="article-comment">
  <script src="https://giscus.app/client.js"
          data-repo="frantw/eleventy-high-performance-blog"
          data-repo-id="R_kgDOHQSdIQ"
          data-category="Comments"
          data-category-id="DIC_kwDOHQSdIc4CQfRB"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="dark_dimmed"
          data-lang="zh-TW"
          data-loading="lazy"
          crossorigin="anonymous"
          defer>
  </script>
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
